
<title>Ahmad Rifki</title>

<div id="header">
  <h1 class="h1" style="text-align:center;">ABOUT</h1>
  <hr/>
  <hr/>
  <div class="menu" style="text-align:center;">
    <a style="font-family:Century Gothic; text-decoration:none;" href="/">HOME</a>
    <a style="font-family:Century Gothic; text-decoration:none;" href="about">&nbsp ABOUT &nbsp</a>
    <a style="font-family:Century Gothic; text-decoration:none;" href="contact">CONTACT</a>
  </div>
  <hr/>
  <hr/>
<div id="content">
  <p style="text-align:center;">
    Hey I'm Ahmad Rifki Fachrudin, i was graduate on SMKN 3 Tangerang city, this my first work in profession as Web Developer.
  </p>
</div>
</div>
