<title>Ahmad Rifki</title>


<div id="header">
  <h1 class="h1" style="text-align:center;">CONTACT</h1>
  <hr/>
  <hr/>
  <div class="menu" style="text-align:center;">
    <a style="font-family:Century Gothic; text-decoration:none;" href="/">HOME</a>
    <a style="font-family:Century Gothic; text-decoration:none;" href="about">&nbsp ABOUT &nbsp</a>
    <a style="font-family:Century Gothic; text-decoration:none;" href="contact">CONTACT</a>
  </div>
  <hr/>
  <hr/>
</div>
<div id="content">
  <p class="contact">
    Alamat  : Kedaung Baru, Kota Tangerang <br>
    Telepon : 0896-2834-7487 <br>
    Email   : fahmadrifki@gmail.com
  </p>
  <hr>
  <form action="contact" method="post">
  <p>Nama :</p>
      <input type="text" name="nama">
  <!--<p>Email :</p>
      <input type="text" name="email">
  <p>Pesan :</p>
      <textarea name="pesan"></textarea></br>-->
  <button type="submit">Submit</button>
  </form>
    <hr/>
    <p>{{nama}}</p>
    <!--<p>{{email}}</p>
    <p>{{pesan}}</p>-->
</div>
